
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 200px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joke {
    color: cadetblue;
    text-align: center;
}
.joke > p {
    font-size: 30px;
}

.contactCard {
    text-align: center;
}

.profilePicture {
    text-align: center;
}

.clock {
    
}